* {
    padding: 0px;
    margin: 0px;
    background: #131313;
   }

h1, h3{
  text-transform: lowercase;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  background-color: #f5f5f5;
}

p {
	font-weight: normal;
	font-family: Helvetica, sans-serif;
	background-color: #f5f5f5;
}

.tabs{
    width: 70%;
    display: block;
    margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
    position: relative;
}

.tabs .tab{
    float: left;
    display: block;
    width: 10%;	
}

.tabs .tab>input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs .tab>label {
    display: block;
    padding: 6px 21px;
    font-size: 12px;
	font-family: Helvetica, sans-serif;
    text-transform: lowercase;
    cursor: pointer;
    position: relative;
    color: #FFF;
    background: #001aff;

}

.tabs .content {
    z-index: 0;/* or display: none; */
    overflow: hidden;
    width: 100%;
    padding: 25px;
    position: absolute;
    top: 27px;
    left: 0;
    background: #f5f5f5;
    color: #001aff;
    
    opacity:0;
    transition: opacity 400ms ease-out;
}

.tabs>.tab>[id^="tab"]:checked + label {
    top: 0;
    background: #bbff00;
    color: #333333;
}

.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
    z-index: 1;/* or display: block; */
   
    opacity: 1;
    transition: opacity 400ms ease-out;
}
  
.row {
	display: flex;
	padding-bottom: 2%;
	background-color: #f5f5f5;

  }

  .column {
	flex: 50%;
	padding-right: 5%;
	background-color: #f5f5f5;

  }

.link {
	background-color: #bbff00;
	color: #001aff;
}




  /* .content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
  } */

